<% include ./partials/header %>
<div id = "blog_header" class="ui center aligned raised very padded text container segment">
	<h2 class="ui center aligned icon header"><i class="universal access icon"></i>Blogs</h2>
		

<div class="ui divided items">
<% blogs.forEach(function(blog){ %>
		
		<div class="item">
		<div class="image">
			<img src = "<%= blog.image %>" >
		</div>
		<div class="content">
			<a class="header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
			<div class="meta">
				<span class="cinema"><%= blog.created.toDateString() %></span>
			</div>
			<div class="d description">
				<p><%= blog.body.substring(0,130)%>...</p>
			</div>
			<a href = "/blogs/<%=blog._id%>">
			<div class="extra">
				<div class="ui right floated primary button">
					Read More
				<i class="right chevron icon"></i>
				</div>
			</div>
			</a>
		</div>
	</div>

			
			
			
			
			
			
				
				
				
				
				
				
		
		
		
		
	
	
<% }); %>
</div>
</div>
<% include ./partials/footer %>