<% include ./partials/header %>
	<div id = "blog_header" class="ui center aligned raised very padded text container segment">
		<h2 class="ui center aligned icon header">
			<i class="universal access icon"></i>
			Blogs
		</h2>
		<h1 class="ui header"><%=blogs.title%></h1>
		<img class = "ui centered rounded image"src = "<%=blogs.image%>"><br>
		<p><span><%=blogs.created.toDateString()%></span></p>
		<p><%-blogs.body%></p>
		<form action="/blogs/<%= blogs._id %>/edit">
			<button class="ui blue button">Edit</button>
		</form>
		<form method="POST" action="/blogs/<%=blogs._id %>?_method=DELETE">
			<button class="negative ui button">Delete</button>
		<form>	
		
			
	</div>

<% include ./partials/footer %>